.vscode/
elo_tables/
equiv_position/
venv/
__pycache__/
solver.log
detect_cuda_compute_capabilities.cu
detect_cuda_version.cc
**/CMakeFiles/**
*.txt
*.pdf
*.dot
*.odp#
*.log
*.pkl
*.vim
*.sgf
*.csv
*.png
*.tar.gz
long_range_patterns/
model_save/
mohex
HexAra
artifacts/
torch/
GN0/data
GN0/supervised/run
!images/*.png
!CMakeLists.txt
!5x5_graph.pdf
!GN0/model/GCN_model.pt 
!GN0/model/GraphSAGE_hex_best.pt
!GN0/model/GraphSAGE_unnormalized.pt
alpha_zero_hex_graphs/
fast_alphazero_general/
Elo/
testdata/
model/
.ssh/
.secrets/
checkpoints/
wandb/
build/
data/
saved_models/
3rdparty/
compile_commands.json
.cache/
.ipynb_checkpoints/
docker/HexAra

gctest.py
*.pyc
old_functions.py
secrets.json
geckodriver
old_proofsets/
yucataing_it/
old_code/
ai_api.py
helper_program.py
merge_sets.py
hole_game.json
hole_tic_tac_toe.json
proofsets/
*.egg-info
nohup.out
